<template>
  <nav
    role="navigation"
    aria-label="pagination"
    class="inline-flex items-center"
  >
    <ul class="flex space-x-1.5">
      <li>
        <button
          class="w-8 h-full px-1.5 py-1.5 inline-flex items-center justify-center bg-white rounded-lg hover:shadow-sm text-red-900 focus:outline-none disabled:cursor-not-allowed"
          :disabled="modelValue === 1"
          @click="previous"
        >
          <img src="~/assets/chevron-left.svg" alt="right-icon" class="w-5 h-4">
        </button>
      </li>
      <li v-for="(v, i) in pagination()" :key="i">
        <button
          :aria-label="`Page ${v}`"
          aria-current="page"
          class="w-8 h-full px-1.5 py-1.5 inline-flex items-center justify-center bg-white rounded-lg text-sm focus:outline-none disabled:cursor-default"
          :class="
            modelValue === v
              ? 'bg-red-600 text-white font-semibold shadow-sm'
              : 'hover:shadow-sm'
          "
          :disabled="modelValue === v || isNaN(v)"
          @click="$emit('input', v)"
        >
          {{ v }}
        </button>
      </li>
      <li>
        <button
          class="w-8 h-full px-1.5 py-1.5 inline-flex items-center justify-center bg-white rounded-lg hover:shadow-sm text-red-900 focus:outline-none disabled:cursor-not-allowed"
          :disabled="modelValue === pagination().pop()"
          @click="next"
        >
          <img src="~/assets/chevron-right.svg" alt="right-icon" class="w-5 h-4">
        </button>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  props: {
    perPage: {
      type: Number,
      default: 10,
      required: false,
    },
    modelValue: {
      type: Number,
      default: 1,
      required: false,
    },
    totalPage: {
      type: Number,
      default: 1,
      required: false,
    },
  },
  methods: {
    previous() {
      if (this.modelValue > 1) {
        this.$emit("input", this.modelValue - 1);
      }
    },
    next() {
      if (this.modelValue < this.totalPage) {
        this.$emit("input", this.modelValue + 1);
      }
    },
    pagination() {
      const page = [];
      Array.from(
        {
          length: this.totalPage
        },
        (v, k) => k + 1
      // eslint-disable-next-line array-callback-return
      ).map(v => {
        if (
          (v === 1 && Math.abs(v - this.modelValue) > 3) ||
          (v === this.totalPage - 1 && Math.abs(v - this.modelValue) > 3)
        ) {
          page.push('...');
        } else if (
            Math.abs(v - this.modelValue) < 3 ||
            v === this.totalPage - 1 ||
            v === 1
          ) {
            page.push(v);
          }
      });
      return page;
    },
  }
}
</script>