<template>
  <div
    v-if="show"
    class="absolute inset-0 bg-white bg-opacity-70 cursor-wait flex justify-center items-center"
  >
    <span>
      <img src="~/assets/spin.svg" class="w-10 h-10" />
    </span>
  </div>
</template>

<script>

export default {
  name: 'VWaitMe',
  props: {
    show: Boolean
  },
};
</script>
