@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
   url(~/assets/font/static/Raleway-Regular.ttf) format("truetype");
}

html {
  font-family: "Raleway";
}

.border-select {
  background-color: #ffffff;
  border: 1px solid #D8D8D8;
  border-radius: 10%;
  margin: 4px 4px 4px 0;
  cursor: pointer;
  height: 19px;
  width: 19px;
}

.border-select input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
}

.border-select label{
  background-color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.border-select label:after {
  border: 2px solid #FA565E;
  border-top: none;
  border-right: none;
  content: "";
  margin: 3px 1px 1px 3px;
  height: 7px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.border-select input[type="checkbox"]:checked + label:after {
  opacity: 1
}