<template>
  <div id="detail-product">
    <div class="mx-10 md:mx-36">
      <img class="w-48 mb-10" src="~/assets/logo-dummy.png" alt="company-logo">
      <span class="ml-10 text-md">List Product > {{ detail.attributes.name }}</span>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1 relative m-5">
          <img
            class="absolute inset-y-0 right-0"
            :hidden="detail.attributes.stock === 0 ? true : detail.attributes.rating >= 4 && detail.attributes.numOfReviews > 25 && detail.attributes.isNew ? false : detail.attributes.rating >= 4 && detail.attributes.numOfReviews > 25 ? false : detail.attributes.isNew ? false : true"
            alt="new-item"
            :src="detail.attributes.rating >= 4 && detail.attributes.numOfReviews > 25 && detail.attributes.isNew ? require('~/assets/hot-item.svg') : detail.attributes.rating >= 4 && detail.attributes.numOfReviews > 25 ? require('~/assets/best-seller.svg') : detail.attributes.isNew ? require('~/assets/new.svg') : ''"
          >
          <div class="my-4" style="text-align: -webkit-center;">
            <img
              class="max-h-screen"
              :src="detail.attributes.images[0]"
              alt="img-phone"
              @error="
                (event) =>
                  (event.target.src = require('~/assets/phone.png'))
              "
            />
          </div>
        </div>
        <div class="flex-1 m-5">
          <span class="flex text-xl text-dark-gray font-bold">{{ detail.attributes.name }}</span>
          <div class="flex flex-row items-center mt-3 mb-1">
            <span
              v-for="j in 5"
              :key="j"
              class="mr-1"
            >
              <img class="w-5 h-5" src="~/assets/star-solid.svg" alt="icon-solid">
            </span>
            <span class="text-gray text-sm ml-2">{{ detail.attributes.numOfReviews }} reviews</span>
          </div> 
          <div class="flex flex-row mb-3 items-center">
            <img src="~/assets/point-give.svg" alt="point-give">
            <span class="text-lime text-md font-bold ml-2">{{ detail.attributes.points }} Poins</span>
            <span class="text-xs ml-2" :class="detail.attributes.style.color">{{ detail.attributes.style.name }}</span>
          </div>
          <span class="flex text-sm text-dark-gray text-justify" v-html="detail.attributes.info" />
          <span class="inline-flex text-sm text-gray mt-6">Jumlah</span>
          <div class="flex flex-row items-center gap-2 mt-2">
            <button class="inline-flex bg-smoke opacity-50 h-5 w-5 items-center justify-center text-xl" @click="jumlah > 0 ? jumlah=jumlah-1 : ''">-</button>
            <span class="inline-flex text-sm text-dark-gray"> {{ jumlah }} </span>
            <button class="inline-flex bg-smoke opacity-50 h-5 w-5 items-center justify-center text-xl" @click="jumlah=jumlah+1">+</button>
          </div>
          <div class="flex flex-row mt-6">
            <div class="flex-shrink-0 mr-5">
              <button @click="putWish(detail.attributes.id)">
                <img
                  :src="detail.attributes.isWishlist ? require('~/assets/wishlist-solid.svg') : require('~/assets/wishlist-outline.svg')" alt="icon-x"
                />
              </button>
            </div>
            <div class="flex flex-col gap-5 md:flex-row">
              <button class="flex inline-flex py-2 px-8 bg-green-900 text-xs text-white rounded-3xl ring-lime ring-1 items-cente">Redeem</button>
              <button class="flex inline-flex  py-2 px-6 bg-white ring-1 ring-lime text-xs text-lime rounded-3xl items-cente">Add To Chart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-y-2 mb-20">
        <div class="border-smoke border-b pb-2 relative mb-5">
          <span class="inline-flex text-lime text-sm">Info produk</span>
          <span class="absolute inset-y-0 border-b w-28 border-lime left-0" />
        </div>
        <span class="text-md text-green-900 mb-3">Rincian</span>
        <span class="text-sm" v-html="detail.attributes.description" />
      </div>
    </div>
    <div class="w-full bg-black py-5">
      <div class="grid grid-cols-2">
        <div class="flex flex-row justify-center gap-x-7">
          <img src="~/assets/ig.svg">
          <img src="~/assets/fb.svg">
          <img src="~/assets/twt.svg">
        </div>
        <div class="flex flex-row justify-items-center">
          <span class="text-xs text-white pr-5 border-r">{{ "Terms & Condition" }}</span>
          <span class="text-xs text-white pl-5">Copyright © 2018. All rights reserved. PT Radya Gita Bahagi</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { PRODUCTS } from '@/constant/endPoint.js';

export default {
  name: 'DetailProduct',
  data() {
    return {
      product: {
        attributes: {
          id: 0,
          name: "",
          stock: 0,
          rating: 0,
          numOfReviews: 0,
          isNew: 0,
          description: "",
          images: [],
          points: 0,
          isWishlist: 0,
          info: "",
          style: {
            name: "",
            color: ""
          },
        }
      },
      jumlah: 0
    }
  },
  computed: {
    detail() {
      const vm = this;
      return {
        attributes: {
          name: vm.product.attributes.name || "",
          id: vm.product.attributes.id || 0,
          stock: vm.product.attributes.stock || 0,
          rating: vm.product.attributes.rating || 0,
          numOfReviews: vm.product.attributes.numOfReviews || 0,
          isNew: vm.product.attributes.isNew || 0,
          images: [vm.product.attributes.images[0] || '~/assets/phone.png'],
          description: vm.product.attributes.description || "",
          points: vm.product.attributes.points || 0,
          isWishlist: vm.product.attributes.isWishlist || 0,
          info: vm.product.attributes.info || "",
          style: {
            name: parseInt(vm.product.attributes.stock) === 0 ? "Sold Out" : parseInt(vm.product.attributes.stock) >= 5 ? "In Stock" : "Stock < 5",
            color: parseInt(vm.product.attributes.stock) < 5 ? "text-red-lbl" : parseInt(vm.product.attributes.stock) >= 5 ? "text-lime" : "text-red-lbl"
          },
        }
      }
    }
  },
  methods: {
    async fetchProductDetail() {
      const vm = this;
      try {
        const { data } = (await vm.$axios.$get(PRODUCTS.PRODUCT_DETAIL(vm.$route.query.id)));
        vm.product = data;
      } catch (e) {
        vm.product = {

        };
      }
    },
    async putWish(id) {
      const vm = this;
      try {
        await vm.$axios.$post(PRODUCTS.PUT_WISH_LIST(id))
        .then(()=> this.fetchProductDetail());
      } catch (e) {
        // eslint-disable-next-line no-console
        console.log(e);
      };
    },
  },
  // eslint-disable-next-line vue/order-in-components
  mounted() {
    this.fetchProductDetail();
  },
}
</script>
