<template>
  <div id="list-product">
    <img class="w-48 mb-10" src="~/assets/logo-dummy.png" alt="company-logo">
    <div class="flex md:flex-row flex-col px-14 mb-20">
      <div class="flex-shrink-0 mr-0 w-full md:w-64 md:mr-14">
        <span class="flex border-b border-smoke pb-4 text-2xl font-bold">Filter</span>
        <div class="flex flex-col border border-smoke rounded-md mt-5 py-2">
          <label class="grid items-center px-4 py-2 space-x-3">
            <span class="inline-flex items-center">
              <span class="flex-1 truncate text-sm text-gray">
                Rating 4 ke atas
              </span>
              <div class="border-select">
                <input
                  id="rating"
                  v-model="filter.rating"
                  type="checkbox"
                  :value="!filter.rating"
                  hidden
                />
                <label for="rating" />
              </div>
            </span>
          </label>
          <label class="grid items-center px-4 py-2 space-x-3">
            <span class="inline-flex items-center">
              <span class="flex-1 truncate text-sm text-gray">
                Stock Tersedia
              </span>
              <div class="border-select">
                <input
                  id="stock"
                  v-model="filter.stock"
                  type="checkbox"
                  :value="!filter.stock"
                  hidden
                />
                <label for="stock" />
              </div>
            </span>
          </label>
        </div>
      </div>
      <div class="flex-1">
        <div class="flex flex-col md:flex-row border-b border-smoke pb-4 mb-6">
          <span class="flex-shrink-0 text-2xl font-bold">Product List</span>
          <div class="flex-1 text-right">
            <label class="text-sm text-gray" for="sorting">Urutkan</label>
            <select id="sorting" v-model="filter.sorting" name="sorting" class="text-sm text-gray rounded-2xl px-10 py-1 border border-smoke ml-2 focus:outline-none">
              <option selected :value="''">Pilih</option>
              <option class="text-sm text-gray" :value="'isNew'">Terbaru</option>
              <option class="text-sm text-gray" :value="'rating'">Ulasan</option>
            </select>
          </div>
        </div>
        <div v-if="productLsit.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div
            v-for="(o, i) in productLsit"
            :key="i"
            class="flex-col border border-smoke rounded-md px-6 py-8 relative"
          >
            <div class="absolute bg-gray-light inset-y-0 inset-x-0 z-50 opacity-50" :class="o.attributes.stock == 0 ? '':'hidden'">
              <span class="flex ml-10 mt-8 text-red-lbl text-md">Sold Out</span>
            </div>
            <div class="absolute inset-y-0 inset-x-0 z-50 opacity-0 z-50 hover:opacity-95 bg-lime" :class="o.attributes.stock == 0 ? 'hidden':''">
              <span class="flex ml-10 mt-8 text-white text-md">
                {{ o.style.name }}
              </span>
              <span class="flex ml-10 mt-36 text-white text-md">{{ o.attributes.name }}</span>
              <div class="mx-10 mt-20">
                <NuxtLink class="flex flex-row w-full justify-center align-center items-center border-2 rounded-3xl border-white text-white py-2" :to="`/detail-product?id=${o.attributes.id}`">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                  </svg>
                  View Details
                </NuxtLink>
              </div>
              <div class="mb-7 mr-6 right-0 absolute bottom-0">
                <button @click="putWish(o.attributes)">
                  <img
                    :src="o.attributes.isWishlist ? require('~/assets/wishlist-solid.svg') : require('~/assets/wishlist-outline.svg')" alt="icon-x"
                  />
                </button>
              </div>
            </div>
            <img
              class="absolute inset-y-0 right-0"
              :hidden="o.attributes.stock === 0 ? true : o.attributes.rating >= 4 && o.attributes.numOfReviews > 25 && o.attributes.isNew ? false : o.attributes.rating >= 4 && o.attributes.numOfReviews > 25 ? false : o.attributes.isNew ? false : true"
              alt="new-item"
              :src="o.attributes.rating >= 4 && o.attributes.numOfReviews > 25 && o.attributes.isNew ? require('~/assets/hot-item.svg') : o.attributes.rating >= 4 && o.attributes.numOfReviews > 25 ? require('~/assets/best-seller.svg') : o.attributes.isNew ? require('~/assets/new.svg') : ''"
            >
            <span class="flex ml-4 text-lime text-md" :class="o.style.color">{{ o.style.name }}</span>
            <div class="h-80 my-4">
              <img
                class="max-h-80"
                :src="o.attributes.images[0]"
                alt="img-phone"
                @error="
                  (event) =>
                    (event.target.src = require('~/assets/phone.png'))
                "
              />
            </div>
            <span class="text-xl text-dark-gray">{{ o.attributes.name }}</span>
            <div class="flex flex-row mt-4">
              <div class="flex-1 flex-col">
                <div class="flex flex-row mb-2">
                  <img src="~/assets/icon-x.svg" alt="icon-x">
                  <span class="text-lime text-sm ml-2">{{ o.attributes.points }} Poins</span>
                </div>
                <div class="flex flex-row">
                  <span
                    v-for="j in 5"
                    :key="j"
                    class="mr-1"
                  >
                    <img v-if="j <= o.star.solid" src="~/assets/star-solid.svg" alt="icon-solid">
                    <img v-else-if="o.star.half" src="~/assets/star-half.svg" alt="icon-half">
                    <img v-else class="mr-1" src="~/assets/star-outline.svg" alt="icon-outline">
                    <span hidden>{{ j > o.star.solid ? o.star.half = false : '' }}</span>
                  </span>
                  <span class="text-gray text-sm ml-2">{{ o.attributes.numOfReviews }} reviews</span>
                </div> 
              </div>
              <button class="flex-shrink-1 mt-auto">
                <img
                  :src="o.attributes.isWishlist ? require('~/assets/wishlist-solid.svg') : require('~/assets/wishlist-outline.svg')" alt="icon-x"
                />
              </button>
            </div>
          </div>
        </div>
        <div v-else-if="!productLsit.length && !product.meta.isLoading" class="flex flex-col items-center sm:flex-nowrap justify-center mt-10 h-10 text-red-lbl italic">
          <svg xmlns="http://www.w3.org/2000/svg" class="min-h-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
          </svg>
          <span>
            There Are No Data
          </span>
        </div>
        <VWaitMe :show="product.meta.isLoading" />

        <div
          class="flex flex-wrap items-center sm:flex-nowrap justify-center mt-10 h-10"
        >
          <VPagination
            :model-value="product.meta.page"
            :per-page="parseInt(product.meta.size)"
            :total-page="product.meta.totalPage"
            @input="(v) => (product.meta.page = v)"
          />
        </div>
      </div>
    </div>
    <div class="w-full bg-black py-5">
      <div class="grid grid-cols-2">
        <div class="flex flex-row justify-center gap-x-7">
          <img src="~/assets/ig.svg">
          <img src="~/assets/fb.svg">
          <img src="~/assets/twt.svg">
        </div>
        <div class="flex flex-row justify-items-center">
          <span class="text-xs text-white pr-5 border-r">{{ "Terms & Condition" }}</span>
          <span class="text-xs text-white pl-5">Copyright © 2018. All rights reserved. PT Radya Gita Bahagi</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { PRODUCTS } from '@/constant/endPoint.js';
import VPagination from '@/components/VPagination.vue';
import VWaitMe from '@/components/VWaitMe.vue';

export default {
  name: 'ListProduct',
  components: {
    VPagination,
    VWaitMe
  },
  data() {
    return {
      product: {
        data: [],
        meta: {
          page: 1,
          size: 5,
          total: 0,
          totalPage: 0,
          isLoading: false,
        }
      },
      filter: {
          query: "",
          sorting: "",
          stock: false,
          rating: false,
        }
    }
  },
  computed:{
    paramsList() {
      return `?page[number]=${this.product.meta.page}&page[size]=${this.product.meta.size}`;
    },
    productLsit() {
      const vm = this;
      const list = [];
      vm.product.data.forEach((o, i) => {
        let a = o.attributes.rating - parseInt(o.attributes.rating);
        let solid = parseInt(o.attributes.rating);;
        if(a > 0.25 && a < 0.76) {
          a = true;
        } else if(a < 0.26) {
          a = false;
        } else if(a > 0.75) {
          a = false;
          solid = solid + 1;
        }
        list.push({
          ...o,
          style: {
            name: parseInt(o.attributes.stock) === 0 ? "Sold Out" : parseInt(o.attributes.stock) >= 5 ? "In Stock" : "Stock < 5",
            color: parseInt(o.attributes.stock) < 5 ? "text-red-lbl" : parseInt(o.attributes.stock) >= 5 ? "text-lime" : "text-red-lbl"
          },
          star: {
            solid,
            half: a
          }
        });
      });
      let r1;
      if(vm.filter.stock && vm.filter.rating) {
        r1 = list.filter(({ attributes }) => attributes.stock > 0);
        r1 = r1.filter((o) => o.attributes.rating >= 4);
        return r1.sort((a, b) =>  b.attributes[vm.filter.sorting] - a.attributes[vm.filter.sorting]);;
      } else if(vm.filter.stock) {
        r1 = list.filter(({ attributes }) => attributes.stock > 0);
        return r1.sort((a, b) =>  b.attributes[vm.filter.sorting] - a.attributes[vm.filter.sorting]);;
      } else if(vm.filter.rating) {
        r1 = list.filter((o) => o.attributes.rating >= 4);
        return r1.sort((a, b) =>  b.attributes[vm.filter.sorting] - a.attributes[vm.filter.sorting]);;
      }
      return list;
    },
  },
  watch: {
    "product.meta.page"() {
      this.fetchListProduct();
    },
  },
  methods: {
    async putWish(o) {
      const vm = this;
      try {
        await vm.$axios.$post(PRODUCTS.PUT_WISH_LIST(o.id))
        .then(()=> this.fetchListProduct());
      } catch (e) {
        // eslint-disable-next-line no-console
        console.log(e);
      };
    },
    async fetchListProduct() {
      const vm = this;
      vm.product.meta.isLoading = true;
      try {
        const { data, meta } = (await vm.$axios.$get(PRODUCTS.PRODUCT_LIST(vm.paramsList)));
        vm.product.data = data;
        vm.product.meta.total = meta.totalItems;
        vm.product.meta.totalPage = meta.totalPages;
      } catch (e) {
        vm.product.data = [];
        vm.product.meta.total = 0;
        vm.product.meta.totalPage = 0;
        vm.product.meta.page = 0;
        vm.product.meta.size = 0;
        vm.product.meta.isLoading = false;
      } finally {
        vm.product.meta.isLoading = false;
      }
    },
    async fetchLength() {
      const vm = this;
      vm.product.meta.isLoading = true;
      try {
        const { meta } = (await vm.$axios.$get(PRODUCTS.PRODUCT_LIST(vm.paramsList)));
        vm.product.meta.total = meta.totalItems;
        vm.product.meta.totalPage = meta.totalPages;
        vm.product.meta.size = meta.totalItems;
        this.fetchListProduct();
      } catch (e) {
        vm.product.meta.isLoading = false;
      }
    }
  },

  // eslint-disable-next-line vue/order-in-components
  mounted(){
    this.fetchLength();
  },
}
</script>